@{
    ViewData["Title"] = "About";
}

<div class="container mt-5 p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
    <div class="text-center mb-4">
        <h1 class="display-3 fw-bold text-secondary">About</h1>
        <p class="lead text-muted">
            Empowering you to achieve your fitness goals through intuitive tracking, and personalized goals.
        </p>
    </div>
    <div class="row text-center justify-content-center mb-5">
        <div class="col-md-8">
            <h2 class="h3 text-secondary">Who We Are</h2>
            <p class="fs-5">
                FitTrack is your trusted fitness companion. We are passionate about helping individuals stay on top of their fitness journey, whether you're a beginner or a seasoned athlete.
            </p>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-md-8">
            <h2 class="h3 text-secondary">Our Mission</h2>
            <p class="fs-5">
                To simplify fitness tracking, inspire consistency, and empower users with tools that turn fitness goals into lifelong achievements.
            </p>
        </div>
    </div>
</div>