@{
    ViewData["Title"] = "Home";
}

<div class="container mt-4">
    <div class="jumbotron text-center text-black-50 mb-4">
        <h1>Welcome to FitTrack</h1>
        <p>Your personal fitness tracker to stay on top of your goals!</p>
        <div class="jumbotron text-center text-black-50">
            <a href="/Account/Register" class="btn btn-light btn-sm"><small>Get Started</small></a>
            <a href="/Account/Login" class="btn btn-secondary btn-sm">Log In</a>
        </div>
    </div>
</div>
