html {
    position: relative;
    font-size: 14px;
}

body {
    background-color: #D3D3D3;
    color: #000000;
}

.container {
    min-height: calc(100vh - 15px);
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem darkgray, 0 0 0 0.25rem darkgray;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff;
}

    .nav-link:hover {
        color: #D3D3D3;
    }

.footer {
    background-color: #808080;
    color: #FFFFFF;
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    padding-left: 10%;
    border-top: 2px solid black;
}

/* Position the navbar items from the right edge of the screen */
.custom-nav-width {
    position: relative;
    right: 0; /* Align items with the right edge */
    width: 500px;
    display: flex;
    justify-content: space-between; /* Distribute items within the defined width */
}

/* Add margin between each nav item */
.navbar-nav .nav-item {
    margin-right: 20px; /* Adjust this for spacing between items */
}

/* Custom padding or spacing */
.custom-padding-right {
    padding-right: 100px; /* Adjust right padding */
}

/* Larger font size for nav items */
.larger-nav {
    font-size: 1.2rem; /* adjust font size */
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}